<h1>This all the Events</h1>

<!-- DEBUT CARD HEARDER -->
<div class="row">
  <% @event.each do | event| %>
  <div class="col-md-4">

    <div class="card-deck mb-3 text-center">

      <div class="card card-accent-dark mb-3" style="max-width: 20rem;">
       <%= image_tag("test.jpg", :alt => "rss feed") %>

        <div class="card-header">
          Topic : <%= event.title %>
        </div>
        <div class="card-body">
          <p>
            Organized by : ** <%= event.admin.first_name %>
            **<br/>
            Description : <%= event.description %>
            <br/>
          </p>
          <button type="button" class="btn btn-pill btn-secondary">
            <h5 class="card-title"><a class="text-warning"><%= link_to  "event info" , event_path(event.id) %></a></h5>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

</div>
<!-- FIN CARD HEADER -->
