<div class="jumbotron bg-secondary">
    <div class="mx-auto" style="width: 500px;">
        <h1>Event Creation</h1>
    </div>
</div>



<div class="mx-auto" style="width: 900px;">
<div class='container'>
    <%= form_tag url_for(action: 'create'), method: "post" do %>

    <p>Please fill in the following elements:</p>
    <div class="col-sm-6">
        <%= text_field_tag 'title', "", class: "form-control", placeholder: "Title"%>
    </div>
    <br>
    <br>
    <div class="col-sm-6">
        <%= text_area_tag 'description', "", class: "form-control", placeholder: "Description"%>
    </div>
    <br>
    <br>
    <div class="col-sm-6">
      <%= label_tag "Event date" %> <br/>
      
    <td><%= datetime_select(:start_date , :order => [:year, :month,:day, :hour, :minute]) %></td>
    </div>
    <br>
    <br>
    <br>
    <div class="col-sm-2">
        <%= text_field_tag 'duration', "", class: "form-control", placeholder: "Duration (mn)"%>
    </div>
    <br>
    <br>
    <div class="col-sm-2">
        <%= text_field_tag 'Price', "", class: "form-control", placeholder: "€"%>
    </div>
    <br>
    <br>
    <div class="col-sm-6">
        <%= text_area_tag 'location', "", class: "form-control", placeholder: "Location"%>
    </div>
    <br>
    <br>
    <br>

    <%= submit_tag 'CREATE YOUR EVENT', class: " mx-auto col-sm-3 btn  btn-light btn-outline-secondary  my-2 " %>

    <% end %>
    </div>
</div>
